
/*      CSS styling       */



/* Global */

@font-face {
font-family: "EversonMono";
src:  url("https://github.com/mike-tully/slauson-writings/blob/main/css/fonts/Everson-Mono.woff") format("woff"),
      url("https://github.com/mike-tully/slauson-writings/blob/main/css/fonts/Everson-Mono.otf") format("opentype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "EversonMonoItalic";
src:  url("https://github.com/mike-tully/slauson-writings/blob/main/css/fonts/Everson-Mono-Oblique.woff") format("woff"),
      url("https://github.com/mike-tully/slauson-writings/blob/main/css/fonts/Everson-Mono-Oblique.otf") format("opentype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "EversonMonoBold";
src:  url("https://github.com/mike-tully/slauson-writings/blob/main/css/fonts/Everson-Mono-Bold.woff") format("woff"),
      url("https://github.com/mike-tully/slauson-writings/blob/main/css/fonts/Everson-Mono-Bold.otf") format("opentype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "EversonMonoBoldItalic";
src:  url("https://github.com/mike-tully/slauson-writings/blob/main/css/fonts/Everson-Mono-Bold-Oblique.woff") format("woff"),
      url("https://github.com/mike-tully/slauson-writings/blob/main/css/fonts/Everson-Mono-Bold-Oblique.otf") format("opentype");
font-weight: normal;
font-style: normal;
}

::selection {
  background: #383838; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #383838; /* Gecko Browsers */
}

body {
  background-color: black;
}



/* Essay Typography */

h1 {
	font-family: "EversonMonoBold", monospace;
}

p {
  font-family: "EversonMono", monospace;
  text-align: justify;
  width: 80vw;
  margin: 0 auto 0 auto;
  line-height: 3em;
  font-size: 0.8em;
  color: white;
  letter-spacing: .5em;
}

h1 {
  white-space: nowrap;
  margin-top: 1.8em;
  margin-bottom: 1em;
  line-height: 1.1em;
  text-align: center;
  color: white;
}

article {
  color: #1d1a0f;
  margin: auto;
  width: 35em;
  height: 35em;
  position: relative;
}

