
/*      CSS styling       */


/* Global – Fonts */

@font-face {
font-family: "Everson Mono";
src:  url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono.woff") format("woff"),
      url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono.otf") format("opentype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Everson Mono Oblique";
src:  url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono-Oblique.woff") format("woff"),
      url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono-Oblique.otf") format("opentype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Everson Mono Bold";
src:  url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono-Bold.woff") format("woff"),
      url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono-Bold.otf") format("opentype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Everson Mono Bold Oblique";
src:  url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono-Bold-Oblique.woff") format("woff"),
      url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono-Bold-Oblique.otf") format("opentype");
font-weight: normal;
font-style: normal;
}



/* Global – Body + Selecter Highlight Colors */

body {
  background-color: black;
}

::selection {
  background: #383838; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #383838; /* Gecko Browsers */
}



/* Global – Crater & Main Nav */



.crater-container{
  position: relative;
  height:100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.insetShadow{
  position: fixed;
  width:97vw;
  margin: 0 auto 0 auto;
  height:0;
  padding-bottom: 97%;
  border-radius: 50%;
  box-shadow: inset  20px -20px 25px rgba(255,255,255,0.6);
  -moz-box-shadow: inset  20px -20px 25px rgba(255,255,255,0.6);
  -webkit-box-shadow: inset  20px -20px 25px rgba(255,255,255,0.6);
  -o-box-shadow: inset  20px -20px 25px rgba(255,255,255,0.6);
}





/* Navigation */

.nav-wrapper {
  display: relative;
  width: 70vw;
  margin: 0 auto -.75em auto;
  color: white;
}

.nav {
  display: absolute;
  padding-top:2.2em;
  font-family: "Everson Mono", monospace;
  font-size: 4em;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
}

p.nav-entry {
  font-family: "Everson Mono Bold", monospace;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1em;
  margin-top: 4em;
  margin-bottom: 4em;
  width: 70vw;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #d73b3e;
}



/* Essay Typography */

p.essay-title {
	font-family: "Everson Mono Bold", monospace;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1.25em;
  margin-top: 20em;
  margin-bottom: 20em;
  width: 70vw;
  text-align: center;
}

p {
  font-family: "Everson Mono", monospace;
  text-align: justify;
  width: 80vw;
  margin: 0 auto 0 auto;
  font-size: 1em;
  line-height: 3em;
  letter-spacing: .25em;
  color: white;
}

p.excerpt {
  font-family: "Everson Mono Oblique", monospace;
  text-align: justify;
  text-align: center;
  width: 80vw;
  margin: 0 auto 0 auto;
  font-size: 1em;
  line-height: 3em;
  letter-spacing: .25em;
  color: white;
}

h1 {
  white-space: nowrap;
  margin-top: 1.8em;
  margin-bottom: 1em;
  line-height: 1.1em;
  text-align: center;
  color: white;
}

article {
  color: #1d1a0f;
  margin: auto;
  width: 35em;
  height: 35em;
  position: relative;
}

