::selection {
  background: #add8e6; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #add8e6; /* Gecko Browsers */
}

html {
  height: 100vh;
  background-image: radial-gradient(50% 50%, circle farthest-corner, #44433f 0%, #1d1a0f 100%);
}

h1 {
	font-family:times, serif;
}

body {
  display: flex;
  background-color: black;
  font-family: arial, sans-serif;
  height: 100%;
}

p {
  text-align: justify;
  line-height: 3em;
  font-size: 0.8em;
  color: white;
  letter-spacing: .5em;
}

h1 {
  white-space: nowrap;
  margin-top: 1.8em;
  margin-bottom: 1em;
  line-height: 1.1em;
  text-align: center;
  color: white;
}

article {
  color: #1d1a0f;
  margin: auto;
  width: 35em;
  height: 35em;
  position: relative;
}



.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  margin: 0 auto 0 auto;
}

.left {
  shape-outside: polygon(0 0, 90% 0%, 40% 10%, 20% 20%, 10% 30%, 5% 35%, 0% 50%, 5% 65%, 10% 70%, 20% 80%, 90% 100%, 0% 100%);
  -webkit-shape-margin: 1em;
  shape-margin: 1em;
  float: left;
  width: 50%;
  height: 100%;
}

.right {
  shape-outside: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 80% 80%, 95% 65%, 100% 50%, 95% 35%, 80% 20%, 60% 10%);
  shape-margin: 1em;
  float: right;
  width: 50%;
  height: 100%;
}