
/*      CSS styling       */



/* Global */

@font-face {
font-family: "Everson Mono";
src:  url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono.woff") format("woff"),
      url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono.otf") format("opentype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Everson Mono Italic";
src:  url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono-Oblique.woff") format("woff"),
      url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono-Oblique.otf") format("opentype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Everson Mono Bold";
src:  url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono-Bold.woff") format("woff"),
      url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono-Bold.otf") format("opentype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Everson Mono Bold Italic";
src:  url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono-Bold-Oblique.woff") format("woff"),
      url("https://mike-tully.github.io/slauson-writings/css/fonts/Everson-Mono-Bold-Oblique.otf") format("opentype");
font-weight: normal;
font-style: normal;
}

::selection {
  background: #383838; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #383838; /* Gecko Browsers */
}

body {
  background-color: black;
}



/* Essay Typography */

p.essay-title {
	font-family: "Everson Mono Bold", monospace;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1.25em;
  margin-top: 20em;
  margin-bottom: 20em;
  width: 70vw;
  text-align: center;
}

p {
  font-family: "Everson Mono", monospace;
  text-align: justify;
  width: 80vw;
  margin: 0 auto 0 auto;
  font-size: 1em;
  line-height: 3em;
  letter-spacing: .25em;
  color: white;
}

p.excerpt {
  font-family: "Everson Mono", monospace;
  text-align: justify;
  text-align: center;
  width: 80vw;
  margin: 0 auto 0 auto;
  font-size: 1em;
  line-height: 3em;
  letter-spacing: .25em;
  color: white;
}

h1 {
  white-space: nowrap;
  margin-top: 1.8em;
  margin-bottom: 1em;
  line-height: 1.1em;
  text-align: center;
  color: white;
}

article {
  color: #1d1a0f;
  margin: auto;
  width: 35em;
  height: 35em;
  position: relative;
}

